*, *::after, *::before {
	box-sizing: border-box;
	// outline: none!important;
}
iframe, object, embed {
	border: none;
	width: 100%;
}
textarea, input {
	-webkit-appearance: none;
	border: 1px solid #173069;
	font-size: 14px;
	padding: 0 15px;
	font-size: 15px;
	&::placeholder {
		color: #A0A0A0;
	}
}
img {image-orientation: from-image;}
html, body {
	background-color: $white;
	max-width: 100%;
	position: relative;
	margin: 0;
	font-family: $main_font;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 1024px;
}
a, a:hover, a:focus {
	color: inherit;
	transition: all .25s;
	text-decoration: none;
}
button, button:hover {
	transition: all .5s;
	// outline: none;
}
p {margin:0;}

ul {margin:0;padding:0;list-style:none;}
picture {display: block;}
svg {
	display: block;
	width: 100%;
}

input:-internal-autofill-selected {
	background-color: $white !important;
	color: #757575 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}