// fonts
$main_font: 'Open Sans', sans-serif;

// colours
$white: #fff;
$black: #000;
$gray: #d4d4d4;
$lightgray: #808080;
$lightgray2: #f9f9f9; 
$nav_item: #767676;
$textgray: #767676;
$active: #ff9000;
$infobg: #ddeefc;
$close: #808080;
$infotext: #414141;
$title: #414141;
$inputborder: #aaaaaa;
$blue: #2192ef;
$red: #e15554;
$green: #3bb273;
$orange: #ff5722;
$darkgray: #6b6b6b;
$darkblue: #45688f;
$thactive: #f3f3f3;