doctype html
html(lang="en")
	head
		title airSlate
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap")
		link(rel="stylesheet" href="assets/css/plugins.css")
		link(rel="stylesheet" href="assets/css/style.css")
	
	body
		block content
		
		script(src="assets/js/plugins.js")
		script(src="assets/js/script.js")