.card-holder {
	margin: 32px 0 0;
	.card-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.card-col {
		max-width: 296px;
		width: 33.33%;
	}
	.card-item {
		background-color: $white;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		padding: 16px 20px;
		&-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		p {
			display: flex;
			align-items: center;
		}
		.digit {
			color: $title;
			font-size: 24px;
			font-weight: 600;
			line-height: 1.33;
		}
		.symbol {
			color: $title;
			font-size: 16px;
			font-weight: 600;
			padding: 0 0 0 2px;
		}
		.text {
			color: $lightgray;
			font-size: 12px;
			padding: 0 0 0 12px;
		}
	}
	.card-logo {
		display: block;
		height: 32px;
		width: 32px;
	}
}