.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (max-width: 575px) {
		padding: 0;
	}
	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 750px;
	}
	@media (min-width: 992px) {
		max-width: 970px;
	}
	@media (min-width: 1200px) {
		max-width: 970px;
	}
}
.link {
	color: #45688f;
	font-weight: 600;
	text-decoration: underline;
}
.main_svg {
	display: none;
}
.bold {
	font-weight: 700;
}
.overflow {
	overflow-x: hidden !important;
}
.dropdown-divider {
	height: 0;
	margin: .5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}
.title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	color: $title;
}
.download-btn {
	border-radius: 4px;
	background-color: $active;
	border: 0;
	color: $white;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.3px;
	padding: 8px 12px;
	&:hover {
		color: $white;
		background-color: $infotext;
	}
	.download-ico {
		display: inline-block;
		margin: 0 10px 0 0;
		height: 17px;
		width: 17px;
		vertical-align: middle;
	}
}
.img-fluid {
	max-width: 100%;
}
.text-right {
	text-align: right;
}
.datepicker-filter {
	border-radius: 4px;
	border: solid 1px $inputborder;
	color: $infotext;
	padding: 7px 10px 7px 25px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	width: 216px;
	position: relative;
	background-color: transparent;
	z-index: 2;
}
.customer-table {
	border-radius: 4px;
	border: solid 1px $gray;
	width: 100%;
	border-spacing: 0;
}
.card-stripe-ico {
	height: 45px;
	width: 48px;
}
.info-dark-ico {
	cursor: pointer;
	height: 12px;
	width: 12px;
	&:hover {

	}
}
.tooltip-holder {
	position: relative;
	&:hover {
		.tooltip {
			display: block;
			opacity: 1;
		}
	}
	.tooltip {
		background-color: $white;
		box-shadow: 0 2px 8px 0 rgba(23, 23, 23, 0.2);
		border: solid 1px $inputborder;
		border-radius: 4px;
		position: absolute;
		top: calc(100% + 10px);
		left: calc(-534px / 2 + 10px);
		text-align: center;
		padding: 5px 10px 7px;
		border-radius: 4px;
		top: calc(100% + 10px);
		font-size: 12px;
		letter-spacing: -0.3px;
		z-index: 99;
		width: 534px;
		display: none;
		opacity: 0;
		transition: opacity 0.3s;
		.tooltip-inner {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: -34px;
				left: calc(50% - 6px);
				background: white;
				transform: rotate(45deg) translateX(15px) translateY(15px);
				border-top: solid 1px $inputborder;
				border-left: solid 1px $inputborder;
				width: 14px;
				height: 14px;
				z-index: 98;
			}
		}
	}
}