.header {
	box-shadow: 0 1px 0 0 #e9e9e9;
	flex: 0 0 auto;
	padding: 0 38px 0 24px;
	z-index: 1;
	.container {
		max-width: 1500px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-between;
	}
	.logo-holder {
		display: flex;
		align-items: center;
	}
	.nav-list {
		display: flex;
		li {
			padding: 0 32px 0 0;
			@media (max-width: 1059px) {
				padding: 0 25px 0 0;
			}
			&:not(:last-child) {
				a {
					color: $nav_item;
					font-size: 14px;
					font-weight: 600;
					display: block;
					transition: all 0.2s ease;
					position: relative;
					padding: 12px 0 20px;
					&:after {
						content: '';
						position: absolute;
						left: 0;
						right: 100%;
						bottom: 0;
						height: 2px;
						background: $active;
						transition: all .2s ease;
					}
					&.active,
					&:hover {
						color: $active;
						&:after {
						    right: 0;
						}
					}
				}
			}
			&.dropdown {
				padding: 7px 0 0;
			}
		}
	}
	.nav-link {
		&.active {
			.select-down {
				transform: rotate(-180deg);
			}
		}
	}
	.user-ico {
		border: 2px solid $gray;
		border-radius: 50%;
		padding-top: 5px;
		height: 32px;
		width: 32px;
	}
	.select-down {
		position: absolute;
		top: calc(50% - 10px);
		right: -16px;
		width: 16px;
		height: 16px;
		transition: transform .2s;
	}
	.dropdown {
		position: relative;
		padding: 0;
		.dropdown-menu {
			position: absolute;
			top: calc(100% - 8px);
			right: 0;
			background-color: $white;
			box-shadow: 0 2px 8px 0 rgba(23, 23, 23, 0.2);
			border: solid 1px #aaaaaa;
			border-radius: 4px;
			padding: 15px 15px 10px;
			min-width: 180px;
			display: none;
			&.show {
				display: block;
			}
			a {
				display: block;
				color: $nav_item;
				font-size: 14px;
				font-weight: 600;
				margin: 0 0 5px;
				&:hover {
					color: $active;
				}
			}
		}
	}
}


	// .logo {
	// 	@media (max-width: 575px) {
	// 	    padding: 2px 0 0 10px;
	// 	}
	// }
// .close-menu {
// 	position: absolute;
// 	display: block;
// 	width: 35px;
// 	height: 27px;
// 	top: 10px;
// 	right: 10px;
// 	cursor: pointer;
// 	&:before,
// 	&:after {
// 		content: '';
// 		position: absolute;
// 		left: 15px;
// 		height: 25px;
// 		width: 2px;
// 		background-color: $white;
// 	}
// 	&:before {
// 		transform: rotate(45deg);
// 	}
// 	&:after {
// 		transform: rotate(-45deg);
// 	}
// }
/*mobile header btn*/
.header_btn {
	position: relative;
	span {
		height: 2px;
		position: absolute;
	}
}
.bit-1{
	margin-top: -1.7em;
	width: 5em;
	margin-left: -1.4em;
	@media (max-width: 544px) {
		width: 3em;
		margin-top: -1.3em;
	}
	&:before {
		left: 0;
		transform-origin: left bottom;
	}
	&:before,
	&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 50%;
		background-color: $black;
		top: 0;
		transition: transform .1s, top .1s;
	}
	&:after {
		right: 0;
		transform-origin: right bottom;
	}
}
.bit-2 {
	left: 50%;
	margin-left: -1.4em;
	margin-top: -0.3em;
	text-align: center;
	&:before {
		content: '';
		width: 5em;
		height: 100%;
		background-color: $black;
		display: inline-block;
		vertical-align: top;
		transition: width .1s;
		transition-delay: 0.1s;
		@media (max-width: 544px) {
			width: 3em;
		}
	}
}
.bit-3 {
	width: 5em;
	margin-left: -1.4em;
	margin-top: 1.2em;
	@media (max-width: 544px) {
		width: 3em;
		margin-top: 0.7em;
	}
	&:before {
		left: 0; 
		transform-origin: left top;
	}
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: $black;
		transition: transform .1s, bottom .1s;
		bottom: 0;
	}
	&:after {
		right: 0;
		transform-origin: right top;
	}
}
.opened {
	.bit-1 {
		width: 3.2em;
		@media (max-width: 544px) {
			width: 2.3em;
		}
		&:before {
			width: 2.3em;
			transform: rotate(45deg);
			transition-delay: 0.2s;
			@media (max-width: 544px){
				width: 2.3em;
			}
		}
		&:before, 
		&:after {
			top: -0px;
		}
		&:after {
			width: 2.3em;
			transition-delay: 0.2s;
			transform: rotate(-45deg);
		}
	}
	.bit-2 {
		margin-left: -0.3em;
		&:before{
			width: 0;
			transition-delay: 0;
		}
	}
	.bit-3{
		width: 3.2em;
		@media (max-width: 544px) {
			width: 2.3em;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:before,
		&:after {
			width: 2.3em;
			transition-delay: 0.2s;
			bottom: -2px;
		}
		&:after {
			transform: rotate(45deg);
		}
	}
}
.navbar-toggler {
	cursor: pointer;
	position: relative;
	z-index: 12;
	padding: 1.8em 3.6em 1.5em 1.5em;
	border: 1px solid transparent;
	background-color: transparent;
	font-size: 7px;
	@media (max-width: 544px) {
		padding: 1.4em 1.7em 1em 1.5em;
	}
}
.navbar-toggler:focus {
	outline: none;
}
.wrap-nav-list {
	display: flex;
	align-items: center;
	width: 100%;
}
.custom_navbar {
	display: flex;
}
/*END mobile header btn*/