.info-holder {
	background-color: $infobg;
	border-radius: 4px;
	position: relative;
	padding: 14px 16px 20px;
	display: flex;
	.close {
		outline: none;
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 14px;
		width: 16px;
		height: 16px;
		font-size: 0;
		&:before,
		&:after {
			content: '';
			background-color: $close;
			position: absolute;
			top: 14px;
			right: 0;
			height: 2px;
			width: 13px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.info-ico {
    	height: 32px;
		width: 32px;
	}
	&-main {
		color: $infotext;
		font-size: 14px;
		line-height: 1.71;
		padding: 2px 0 0 17px;
	}
	.list {
		list-style-type: none;
		padding: 0 0 0 14px;
		li {
			position: relative;
			padding: 0 0 1px;
			&:before {
				content: '';
				background-color: $infotext;
				height: 2px;
				width: 2px;
				position: absolute;
				top: calc(50% - 1px);
				left: -10px;
			}
		}
	}
}