.table-holder {
	margin: 42px 0 52px;
	.filter-row {
		display: flex;
		justify-content: space-between;
		margin: 0 0 16px;
	}
	.search-holder {
		font-size: 14px;
		position: relative;
		.form-control {
			border: solid 1px $inputborder;
			border-radius: 4px;
			font-size: 14px;
			padding: 7px 7px 7px 30px;
			width: 217px;
		}
		.btn-search {
			border: 0;
			background: transparent;
			position: absolute;
			top: 7px;
			left: 2px;
			.search-ico {
				height: 16px;
				width: 16px;
			}
		}
	}
	.filter-holder {
		position: relative;
		display: flex;
		button {
			background-color: transparent;
			border: solid 1px $inputborder;
			border-radius: 4px;
			color: $infotext;
			font-weight: 600;
			&.active {
				border-color: $active;
			}
		}
		.toggle {
			cursor: pointer;
			font-size: 12px;
			letter-spacing: 0.3px;
			padding: 8px 21px;
			margin: 0 0 0 12px;
		}
		.calendar-ico {
			position: absolute;
			top: 8px;
			left: 38px;
			height: 16px;
			width: 16px;
		}
	}
	th {
		background-color: $lightgray2;
		border-bottom: solid 1px $gray;
		font-size: 12px;
		font-weight: 700;
		color: $title;
		padding: 6px 10px;
		text-align: left;
		transition: background 0.2s;
		&:first-child {
			padding-left: 22px;
		}
		&:nth-child(4) {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23414141' d='M3 1c0-.552.448-1 1-1s1 .448 1 1v3h3L4 8 0 4h3V1z'/%3E%3C/svg%3E%0A");
			background-color: $thactive;
			width: 8px;
			height: 8px;
			background-repeat: no-repeat;
			background-position: 95% 50%;
			padding: 0 16px;
		}
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7) {
			text-align: right;
		}
		&:hover {
			cursor: pointer;
			background-color: #f3f3f3;
		}
	}
	tbody {
		tr {
			&:first-child {
				td {
					&:first-child {
						&:before {
							background-color: $blue;
						}
					}
				}
			}
			&:nth-child(2) {
				td {
					&:first-child {
						&:before {
							background-color: $red;
						}
					}
				}
			}
			&:nth-child(3) {
				td {
					&:first-child {
						&:before {
							background-color: $green;
						}
					}
				}
			}
			&:nth-child(4) {
				td {
					&:first-child {
						&:before {
							background-color: $orange;
						}
					}
				}
			}
			&:nth-child(5) {
				td {
					&:first-child {
						&:before {
							background-color: $darkgray;
						}
					}
				}
			}
			&:nth-child(6) {
				td {
					&:first-child {
						&:before {
							background-color: $darkblue;
						}
					}
				}
			}
		}
		td {
			border-bottom: solid 1px $gray;
			font-size: 14px;
			color: $title;
			padding: 15px 10px 16px;
			&:first-child,
			&:last-child {
				border-bottom: 0;
				position: relative;
				&:after {
					content: '';
					background-color: $gray;
					width: calc(100% - 14px);
					height: 1px;
					position: absolute;
					bottom: 0;
				}
			}
			&:first-child {
				padding-left: 38px;
				max-width: 171px;
				&:after {
					right: 0;
				}
				&:before {
					content: '';
					width: 8px;
					height: 8px;
					border-radius: 50%;
					position: absolute;
					top: calc(50% - 5px);
					left: 23px;
				}
			}
			&:last-child {
				&:after {
					left: 0;
				}
			}
			&:nth-child(4){
				text-align: center;
				background-color: $thactive;
			}
			&:nth-child(7) {
				padding-right: 28px;
			}
			&:nth-child(8) {
				padding-right: 25px;
			}
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				text-align: right;
			}
		}
	}
	tfoot {
		tr {
			&:last-child {
				td {
					border-top: solid 1px $gray;
					background-color: $lightgray2;
					padding: 0;
					&::after {
						display: none;
					}
				}
			}
			&:nth-child(4){
				td {
					border-bottom: 0;
					padding-bottom: 15px;
					&:last-child {
						&::after {
							display: none;
						}
					}
				}
			}
		}
		td {
			font-size: 14px;
			color: #414141;
			padding: 15px 10px 16px;
			border-bottom: solid 1px #d4d4d4;
			padding: 6px 10px 5px;
			&:first-child,
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				border-bottom: 0;
			}
			&:nth-child(7) {
				text-align: right;
			}
			&:last-child {
				border-bottom: 0;
				position: relative;
				text-align: right;
				padding-right: 25px;
				font-weight: 600;
				&:after {
					content: '';
					background-color: $gray;
					width: calc(100% - 14px);
					height: 1px;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		.grand-total,
		.grand-total-count {
			font-weight: 700;
		}
	}
	.f-item {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		padding: 7px 4px 3px 21px;
		.card-stripe-ico {
			margin-left: 8px;
		}
		.info-dark-ico {
			margin-left: 5px;
		}
		.text {
			margin-left: 8px;
		}
	}
	.download-btn {
		margin: 0 22px 0 0;
	}
}
.picker-wrap {
	position: relative;
	.arrow {
		width: 16px;
  		height: 16px;
  		object-fit: contain;
  		position: absolute;
		top: calc(50% - 8px);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23414141' d='M5.707 6.293L8 8.585l2.293-2.292c.39-.39 1.024-.39 1.414 0 .39.39.39 1.024 0 1.414l-3 3c-.15.15-.336.243-.53.277l-.118.014h-.118c-.236-.014-.468-.11-.648-.29l-3-3c-.39-.391-.39-1.025 0-1.415.39-.39 1.024-.39 1.414 0z'/%3E%3C/svg%3E%0A");
		&-left {
			left: 7px;
			transform: rotate(90deg);
		}
		&-right {
			right: 7px;
			transform: rotate(-90deg);
		}
	}
}