extends _layouts/home

block content
		
	include _partials/header
	
	.main
		.container
			include _partials/part_info
			include _partials/part_text
			include _partials/part_card
			include _partials/part_table

	include _partials/footer
	include _partials/svg_sprite