footer.footer
    p © 2019-2020 airSlate Inc. All rights reserved. Your use of this site is a subject to 
        a.link(href="#") Terms of Service 
        | and 
        a.link(href="#") Privacy Policy.