header.header
    .container
        div.logo-holder
            a.logo(href="#" tabindex="1")
                img(src="assets/images/logo.svg", alt="")
        nav.navbar
            ul.nav-list
                li
                    a(href="#" tabindex="2") Dashboard
                li    
                    a.active(href="#" tabindex="3") Payments
                li    
                    a(href="#" tabindex="4") History
                li    
                    a(href="#" tabindex="5") Documents
                li    
                    a(href="#" tabindex="6") FAQ
                li
                    a(href="#" tabindex="7") About
                li    
                    a(href="#" tabindex="8") Contact Us
                li.dropdown
                    a.nav-link.dropdownToggleJs(href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false" tabindex="9") 
                        svg.img-ico.user-ico
                            use(xlink:href='#user-dropdown')
                        svg.img-ico.select-down
                            use(xlink:href='#select-down')
                    div.dropdown-menu(aria-labelledby="navbarDropdown")
                        a.dropdown-item(href="#") Profile
                        a.dropdown-item(href="#") Settings
                        div.dropdown-divider
                        a.dropdown-item(href="#") Logout