.table-holder
	.table-wrap
		.filter-row
			.filter-holder
				.picker-wrap
					input.datepicker-filter(type="text" data-min-view="months" data-view="months" data-date-format="MM yyyy")
					svg.img-ico.calendar-ico
						use(xlink:href="#calendar")
					.arrow.arrow-left
					.arrow.arrow-right
				button.toggle.active(type="button") This month

			.search-holder
				input.form-control(type="text" placeholder="Search for customer" aria-label="Recipient's username")
				button.btn-search(type="button")
					svg.img-ico.search-ico
						use(xlink:href='#search')

		table.customer-table

			tfoot
				tr 
					td
					td
					td
					td
					td
					td
					td Total by month 
					td $55
				tr 
					td
					td
					td
					td
					td
					td
					td Carryover
					td $22
				tr 
					td
					td
					td
					td
					td
					td
					td State tax 8.25%
					td $12
				tr 
					td
					td
					td
					td
					td
					td
					td.grand-total GRAND TOTAL
					td.grand-total-count $73.45

				tr
					td(colspan="6")
						.f-item 
							span.bold Payment:
							span
							svg.img-ico.card-stripe-ico
								use(xlink:href='#card-stripe')
					
						.f-item 
							span.bold Status:
							span.text Future
							.tooltip-holder
								svg.img-ico.info-dark-ico
									use(xlink:href='#info-dark')
								.tooltip 
									.tooltip-inner 
										p You will receive the payment within 60 days from the moment the customer paid for the service. You need to accumulate at least $100 to got paid.
									
					td(colspan="2").text-right
						button.download-btn 
							svg.img-ico.download-ico
								use(xlink:href='#download')
							|Download report

