.info-holder
	span.close.closeInfoJs
	.info-ico
		svg.img-ico.info-ico
			use(xlink:href="#info-ico")
	.info-holder-main
		p Important information about your account:
		ul.list
			li The first payment you will receive within 
				span.bold 60 days 
				| from the moment the customer paid for the service.
			li If the payment is less than 
				span.bold $100 
				| we will accumulate the money and add it whenever the amount exeeds.
			li As a resident of US Arizona state you will have to pay 
				span.bold 8.25% 
				| taxes.



