.card-holder
	.card-row
		.card-col
			.card-item 
				.card-item-inner
					div
						p
							span.digit 20
							span.symbol %
							span.text commission
						p
							span.digit $123
							span.text earned
					.card-logo
						svg.img-ico.air-slate-ico
							use(xlink:href="#air-slate-ico")
		.card-col
			.card-item 
				.card-item-inner
					div
						p
							span.digit 20
							span.symbol %
							span.text commission
						p
							span.digit $345
							span.text earned
					.card-logo
						svg.img-ico.pdf-filler-color
							use(xlink:href="#pdf-filler-color")
		.card-col
			.card-item 
				.card-item-inner
					div
						p
							span.digit 20
							span.symbol %
							span.text commission
						p
							span.digit $678
							span.text earned
					.card-logo
						svg.img-ico.sign-now-color
							use(xlink:href="#sign-now-color")




