.main_svg
	svg
		defs
			symbol(viewBox="0 0 1000 1000" fill="#7791ad" id="user-dropdown")
				path(d="M934.4 989.9c-19.6 0-28-18.4-28.7-30C893.3 745.4 715.1 577.3 500 577.3S106.7 745.4 94.3 960c-.7 11.6-9.1 30-28.7 30-6.9 0-12.6-2.3-16.9-6.9-7.8-8.2-7.7-20.4-7.5-23.9 10.3-194.6 141.1-360.1 327.1-415.8-92.7-47.9-151.9-144.7-151.9-249.8C216.4 137.3 343.6 10 500 10c156.4 0 283.6 127.3 283.6 283.6 0 104.8-59.2 201.9-151.9 250.8 186 54.6 316.9 219.8 327.2 414.8.2 3.5.2 15.7-7.5 23.9-4.3 4.6-10.1 6.8-17 6.8zM500 63.1c-127.1 0-230.5 103.4-230.5 230.5S372.9 524.2 500 524.2s230.5-103.4 230.5-230.5S627.1 63.1 500 63.1z")

			symbol(viewBox="0 0 32 32" width="32" height="32" id="info-ico")
				path(fill="#2192EF" d="M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2 2 8.268 2 16s6.268 14 14 14zm0-30c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm0 14h-2c-.552 0-1 .448-1 1s.448 1 1 1h1v6h-1c-.513 0-.936.386-.993.883L13 23c0 .552.448 1 1 1h4c.552 0 1-.448 1-1s-.448-1-1-1h-1v-7c0-.513-.386-.936-.883-.993L16 14zm0-6c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2z")
			
			symbol(viewBox="0 0 32 32" width="32" height="32" id="air-slate-ico")
				path(fill="#2192EF" d="M2.028 20.213c3.26 2.279 6.676 3.554 10.024 3.554 3.326 0 6.725-1.267 9.992-3.533.268-.186.64-.124.829.14.032.045.057.093.076.145l1.007 2.838c.119.336-.009.71-.311.906l-.15.096C19.85 26.682 15.986 28 12.052 28 8.064 28 4.146 26.65.476 24.277l-.124-.08c-.3-.198-.426-.568-.308-.902l.973-2.764c.12-.34.497-.52.843-.402.06.02.117.048.168.084z" transform="translate(4 3)")
				path(fill="#2C435C" d="M19.912 13.516c0 3.779-3.105 6.188-8.255 6.188-1.602 0-3.11-.206-4.486-.577-.486-.131-1.131-.36-1.937-.686-.318-.129-.48-.477-.37-.797l.948-2.732c.115-.335.487-.514.829-.4.024.007.048.017.071.027.628.293 1.107.501 1.437.626 1.08.408 2.128.633 3.56.633 2.458 0 3.52-.76 3.52-1.952 0-2.815-10.482-1.167-10.482-7.836C4.747 2.79 7.05 0 12.795 0c1.405 0 2.918.159 4.295.45.375.078.859.208 1.452.388.345.105.538.463.431.8l-.007.022-.95 2.658c-.114.322-.467.5-.8.403-.786-.225-1.365-.38-1.737-.462-.814-.181-1.576-.278-2.528-.278-2.795 0-3.52.837-3.52 1.75 0 2.79 10.481.99 10.481 7.785z" transform="translate(4 3)")

			symbol(viewBox="0 0 32 32" width="32" height="32" id="pdf-filler-color")
				path(fill="#E8501F" d="M26.769 1.681c.1.06.185.144.243.247l3.814 6.74c.233.412.232.918-.003 1.329l-7.814 13.67c-.118.206-.336.333-.571.333H14.39c-.364 0-.66-.298-.66-.667 0-.117.03-.232.089-.333L25.867 1.925c.182-.319.586-.428.902-.244zm-10.094 8.985c.365 0 .66.299.66.667 0 .117-.03.232-.088.333l-4.955 8.666c-.182.319-.586.428-.902.244-.1-.058-.183-.143-.241-.244l-4.958-8.665c-.183-.32-.075-.727.241-.911.1-.059.214-.09.33-.09h9.913z" transform="translate(0 4)")
				path(fill="#414141" d="M22.773 0c.364 0 .66.298.66.667 0 .117-.03.232-.089.333l-3.62 6.333c-.235.413-.67.667-1.143.667H4.856c-.472 0-.908-.254-1.144-.666L.09 1C-.094.68.014.274.329.09.43.03.545 0 .66 0h22.113z" transform="translate(0 4)")

			symbol(viewBox="0 0 32 32" width="32" height="32" id="sign-now-color")
				path(fill="#0777CF" d="M21.286 3C24.934 3 27.998 4.863 28 7.326c0 2.085-1.904 3.641-4.245 3.641-.972 0-2.301-.74-2.301-1.296 0-.299.131-.486.417-.605l.325-.112c.82-.309 1.46-.971 1.566-1.583.147-.831-.843-1.385-2.49-1.405-3.324-.044-6.848 2.042-6.719 4.332.075 1.32.935 2.211 3.041 3.372l.31.167.64.333 1.548.783c3.58 1.867 5.08 3.425 5.021 6.188C25.013 25.506 19.24 29 13.366 29 8.38 29 4.56 26.397 5.04 22.964c.381-2.713 3.625-5.049 6.927-5.06 3.025-.011 5.209 1.655 5.209 3.628 0 1.716-1.34 2.985-3.368 2.985-1.22 0-2.233-.58-2.233-1.285 0-.286.092-.452.313-.644l.24-.193c.167-.142.22-.242.22-.433 0-.43-.358-.717-.916-.717-1.147 0-2.465 1.019-2.465 2.016 0 1.57 1.809 2.581 4.613 2.581 3.59 0 6.726-2.341 6.726-5.14 0-1.431-.97-2.302-3.517-3.535l-1.786-.844c-3.37-1.644-4.81-3.061-4.81-5.623 0-3.96 5.566-7.7 11.092-7.7z")

			symbol(viewBox="0 0 16 16" width="16" height="16" id="select-down")
				path(fill="#414141" d="M5.707 6.293L8 8.585l2.293-2.292c.39-.39 1.024-.39 1.414 0 .39.39.39 1.024 0 1.414l-3 3c-.15.15-.336.243-.53.277l-.118.014h-.118c-.236-.014-.468-.11-.648-.29l-3-3c-.39-.391-.39-1.025 0-1.415.39-.39 1.024-.39 1.414 0z")

			symbol(viewBox="0 0 16 16" width="16" height="16" id="search")
				path(fill="#414141" d="M6.5 0C10.09 0 13 2.91 13 6.5c0 1.434-.464 2.76-1.251 3.835l3.958 3.958c.39.39.39 1.024 0 1.414-.39.39-1.024.39-1.414 0l-3.958-3.958C9.26 12.536 7.935 13 6.5 13 2.91 13 0 10.09 0 6.5S2.91 0 6.5 0zm0 2C4.015 2 2 4.015 2 6.5S4.015 11 6.5 11 11 8.985 11 6.5 8.985 2 6.5 2z")

			symbol(viewBox="0 0 16 16" width="16" height="16" id="calendar")
				path(fill="#414141" d="M12 0c.552 0 1 .448 1 1h1c1.105 0 2 .895 2 2v11c0 1.105-.895 2-2 2H2c-1.105 0-2-.895-2-2V3c0-1.105.895-2 2-2h1c0-.552.448-1 1-1s1 .448 1 1h6c0-.552.448-1 1-1zm2 7H2v7h12V7zm-8 4v2H4v-2h2zm3 0v2H7v-2h2zm3 0v2h-2v-2h2zM6 8v2H4V8h2zm3 0v2H7V8h2zm3 0v2h-2V8h2zM3 3H2v2h12V3h-1c0 .552-.448 1-1 1s-1-.448-1-1H5c0 .552-.448 1-1 1s-1-.448-1-1z")

			symbol(viewBox="0 0 48 48" width="48" height="48" id="card-stripe")
				path(fill="#fff" stroke="#E6E7E8" d="M39.998.5c.968 0 1.843.392 2.477 1.026.633.633 1.025 1.51 1.025 2.478h0v23.992c0 .967-.392 1.843-1.026 2.477-.634.635-1.51 1.027-2.476 1.027h0H4.002c-.968 0-1.843-.392-2.477-1.026C.892 29.841.5 28.964.5 27.996h0V4.004c0-.967.392-1.843 1.026-2.477C2.16.892 3.036.5 4.002.5h35.996z" transform="translate(2 8)")
				path(fill="#6772E5" d="M27.592 12.531c1.458 0 2.833 1.266 2.841 3.59 0 2.539-1.358 3.692-2.85 3.692-.733 0-1.175-.296-1.475-.505l-.008 2.267-2.083.425v-9.34h1.833l.108.496c.292-.256.817-.625 1.634-.625zm-12.85-1.602l-.009 1.739h1.584v1.706h-1.584v2.844c0 1.185 1.317.817 1.584.713v1.626c-.275.144-.775.264-1.459.264-1.233 0-2.158-.873-2.158-2.059l.008-6.416 2.034-.417zm-4.925 1.602c.691 0 1.375.105 2.066.369v1.882c-.633-.328-1.433-.512-2.066-.512-.442 0-.709.12-.709.432 0 .897 3.175.473 3.184 2.86 0 1.434-1.192 2.26-2.925 2.26-.717 0-1.5-.137-2.275-.458v-1.906c.7.368 1.583.64 2.275.64.466 0 .8-.12.8-.488 0-.953-3.167-.6-3.167-2.812 0-1.417 1.125-2.267 2.817-2.267zm24.175 0c1.975 0 3.008 1.619 3.008 3.67 0 .192-.017.608-.017.712h-4.075c.092.945.809 1.218 1.617 1.218.825 0 1.475-.168 2.042-.44v1.601c-.567.305-1.317.521-2.309.521-2.033 0-3.45-1.218-3.45-3.629 0-2.034 1.2-3.653 3.184-3.653zm-10.75.137v7.009H21.15v-7.01h2.092zm-4.334.592c.492-.865 1.467-.689 1.734-.592v1.842c-.259-.088-1.092-.2-1.584.417v4.75h-2.083v-7.01h1.8zm8.184 1.05c-.475 0-.775.16-.992.392l.008 2.972c.2.209.492.377.984.377.766 0 1.283-.801 1.283-1.875 0-1.05-.525-1.866-1.283-1.866zm6.891-.152c-.525 0-1.1.376-1.1 1.281h2.15c0-.905-.541-1.281-1.05-1.281zM23.242 10v1.626l-2.092.433v-1.634L23.242 10z" transform="translate(2 8)")

			symbol(viewBox="0 0 12 12" width="12" height="12" id="info-dark")
				path(fill="#2192EF" d="M6 0c3.314 0 6 2.686 6 6s-2.686 6-6 6-6-2.686-6-6 2.686-6 6-6zm0 5c-.552 0-1 .448-1 1v3c0 .552.448 1 1 1s1-.448 1-1V6c0-.552-.448-1-1-1zm0-3c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1z")
			
			symbol(viewBox="0 0 17 16" width="17" height="17" id="download")
				path(fill="#fff" d="M15.5 10c.552 0 1 .448 1 1v2c0 1.657-1.343 3-3 3h-10c-1.657 0-3-1.343-3-3v-2c0-.552.448-1 1-1s1 .448 1 1v2c0 .552.448 1 1 1h10c.552 0 1-.448 1-1v-2c0-.552.448-1 1-1zm-7-10c.552 0 1 .448 1 1v7.586l1.293-1.293c.391-.391 1.023-.391 1.414 0s.391 1.023 0 1.414l-3 3c-.391.391-1.023.391-1.414 0l-3-3c-.391-.391-.391-1.023 0-1.414s1.023-.391 1.414 0L7.5 8.586V1c0-.552.448-1 1-1z")
			
			symbol(width="8" height="8" viewBox="0 0 8 8" id="down-item")
				path(fill="#414141" d="M3 1c0-.552.448-1 1-1s1 .448 1 1v3h3L4 8 0 4h3V1z")
